@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "CheckInbox";

}


<div class="container">
    <div class="card">
        <div class="card_title">
            <h1 style="font:50px;" >!!! Check Your Inbox !!! </h1>
         </div> 
    </div>
</div>