@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "ForgotPassword";

}
@model ForgotPasswordViewModel


<div class="container">
    <div class="card">
        <div class="card_title">
            <h1>Forgot Your Password?</h1>
            <p>Write your email to reset the password</p>
        </div>
        <div class="form">
            <form asp-action="SendUrlToResetPassword">
                <input asp-for="Email" placeholder="Email" required />
                <input id="submit" type="submit" value="Send email!" />

                <a asp-action="Signin">Remebered Your Password ? </a>
            </form>
        </div>
    </div>
</div>