@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "ResetPassword";

}
@model ResetPasswordViewModel


<div class="container">
    <div class="card">
        <div class="card_title">
            <h1>Reset Your Password.</h1>
        </div>
        <div class="form">
            <form asp-action="ResetPassword">
                <input asp-for="Password" placeholder="Password" required />
                <input asp-for="ConfirmPassword" placeholder="Confirm Password" required />
                <input id="submit" type="submit" value="Reset Password" />
            </form>
        </div>
    </div>
</div>