@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "SignupExternalAuth";

}


@model ExternalAuthUser




<div class="container">
    <div class="card">
        <div class="card_title">
            <span>Already have an account? <a asp-action="Signin">Sign In</a></span>
            <h1>Create Account Using @Model.Provider</h1>
        </div>
        <div class="form">
            <form asp-action="SignupExternalAuthPost">
                <input asp-for="Email" placeholder="Email" readonly /> <!-- disabled is not sent to the server! -->
                <input asp-for="UserName" placeholder="User Name" required />
                <input asp-for="FirstName" placeholder="First Name" required />
                <input asp-for="LastName" placeholder="Last Name" required />
                <input asp-for="PhoneNumber" placeholder="Phone Number" required />
                <input asp-for="Provider" type="hidden"/>
                <input id="submit" type="submit" value="Sign Up" />
            </form>
        </div>
        <div class="card_terms">
            <input asp-for="IsAgree" type="checkbox" name="" id="terms" required> <span>I have read and agree to the <a href="">Terms of Service</a></span>
        </div>
    </div>
</div>


@if (ViewData["ErrorMessage"] != null)
{
    var tmp = @Html.Raw(ViewData["ErrorMessage"]);
    <script>
        window.onload = function() {
            alert("@tmp ");
        };
    </script>

}
else if (TempData["ErrorMessage"] != null)
{
    var tmp = @Html.Raw(TempData["ErrorMessage"]);
    <script>
        window.onload = function() {
            alert("@tmp ");
        };
    </script>

}
