@using Company.Mody.DAL.Models

@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>

@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="m-3 alert alert-info">
        <p>@TempData["Message"]</p>
    </div>
}

<form>
    <div class="container m-4">
        <div class="row">
            <div class="col-6">
                <input placeholder="Search Employee By Name" type="text" id="Keyword" name="Keyword" class="form-control" value="@Context.Request.Query["Keyword"]" data-search-type="Employee" />
            </div>
            <div class="col-6">
                <input type="submit" value="Search" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<br />
<a asp-controller="Employee" asp-action="Add" class="btn btn-primary">Create Employee</a>
<br />
<br />

<!-- Container to update search results dynamically -->
<div id="employeeResults">
    <partial name="PartialViews/_EmployeeTable"></partial>
</div>

