@model Employee

<div class="form-group">
    <label asp-for="Name" class="col-form-label">Code</label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Age" class="col-form-label">Age</label>
    <input asp-for="Age" class="form-control" type="text" readonly />
</div>
<div class="form-group">
    <label asp-for="Address" class="col-form-label">Address</label>
    <input asp-for="Address" class="form-control" type="text" readonly />
</div>
<div class="form-group">
    <label asp-for="Email" class="col-form-label">Email</label>
    <input asp-for="Email" class="form-control" type="text" readonly />
</div>
<div class="form-group">
    <label asp-for="Salary" class="col-form-label">Salary</label>
    <input asp-for="Salary" class="form-control" type="text" readonly />
</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="col-form-label">PhoneNumber</label>
    <input asp-for="PhoneNumber" class="form-control" type="text" readonly />
</div>
<div class="form-group">
    <input asp-for="IsActive" class="form-check" disabled type="checkbox" />
    <label asp-for="IsActive" class="col-form-label">IsActive</label>
</div>
<div class="form-group">
    <input asp-for="IsDeleted" class="form-check" disabled type="checkbox" />
    <label asp-for="IsDeleted" class="col-form-label">IsDeleted</label>
</div>
<div class="form-group">
    <label asp-for="HiringDate" class="col-form-label">Hiring Date</label>
    <input asp-for="HiringDate" class="form-control" readonly />

</div>
<div class="form-group">
    <label asp-for="CreationDate" class="col-form-label">Creation Date</label>
    <input asp-for="CreationDate" class="form-control" readonly />

</div>

<div class="form-group">
    <label asp-for="Department" class="col-form-label">Department</label>
    <input asp-for="Department.Name" class="form-control" readonly />

</div>